/******CONTAINER******/
@media(max-width:650px){
    .container{
        padding: 75px 50px;
    }
}

/***********MOBILE**********/
@media(max-width:650px){
    #btnscroll{
        display: none;
    }
}


/*********HEADER*********/

/*WEB*/
@media(min-width:1000px){
    header{
        padding: 10px 100px;
    }
}

/*TABLET*/
@media(max-width:1000px){    
    header{
        padding: 10px 50px;
    }
    header .inscricao{
        display: none;
    }
}

/*MOBILE*/
@media (max-width:650px){    
    header{
        padding: 10px 15px;
    }
    header #menuHamburguer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    header .menu{
        position: absolute;
        top: 0;
        left: 70%;
        width: 0;
        overflow: hidden;
        height: 100vh;
        padding-top: 60px;
        background-color: var(--color-tertiary);
        transition: all 0.5s ease;
    }
    header .menu ul{
        display: flex;
        flex-direction: column;
    }
}


/***********SECTION 4***********/
/**********WEB********/
@media(min-width:800px){
    #section4 .wrapper .artigo{
        width: 40%;
    }
}

/**********TABLET**********/
@media (max-width:800px){
    #section4 .wrapper{
        flex-direction: column;
        align-items: center;
    }
    #section4 .wrapper .artigo{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}


/********* SECTION 5************/

/**********TABLET**********/
@media (max-width:1000px){

    #section5 .container{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width:1000px){
    #section5 .formulario #login-box{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #section5 .formulario .user-box input{
        width: 250%;
    }
}




/**********FOOTER************/

/*MOBILE*/

@media (max-width:750px){
    footer .container .links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .container .links a{
        padding: 20px;
    }


    footer .container .links span{
        margin-bottom: 10px;
        width: 30px;
        height: 2px;
        background-color: var(--color-primary);
    }
}
@media(max-width:650px){
    footer{
        padding: 50px;
    }
}